body{
  background: #17A589;
}
h1{
  background: #F4D03F;
  text-align: center;
  border-radius: 10px;
  font-style: oblique;
}
img{
  float:right;
  width: 10%;
  height: 10%;
}

.child{
  width:15% ;
  padding:1%;
  margin:1%;
  border: 2px solid #000;
  text-align: center;
  display: block;
  background:pink;
  justify-content: space-around;
  }

.child img{
  width: 150px;
  height: 150px;
  }
.link{
  text-align: center;
  color: green;
}
